body {
    background: black url(https://media.cdn.adultswim.com/uploads/20220904/22941437561-RAMMetaThumb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top
}